@model ClearMeasure.OnionDevOpsArchitecture.Core.Model.ExpenseReport[]

<!DOCTYPE html>

<html>
<head>
    <title>Expense Reports</title>
</head>
<body>
<div>
    @Html.DisplayForModel()
</div>
</body>
</html>